<div class="d-flex align-items-center justify-content-between py-2">
    <p class="mb-0">students per {{type}}</p>
    <select class="select" (change)="type == 'class'? onClassChange($event.target) : onCountryChange($event.target)">
        <option *ngFor="let item of list" [value]="item.id">{{type == 'class'? item.class_name : item.country_name}}
        </option>
    </select>
</div>
<apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive" [legend]="chartOptions.legend" [dataLabels]="chartOptions.dataLabels"
    [colors]="chartOptions.colors" [stroke]="chartOptions.stroke" [plotOptions]="chartOptions.plotOptions"> </apx-chart>