<div class="my-4">
    <p routerLink="/"><img src="assets/icons/chevron-left.svg" alt="back arrow"> go back to dashboard</p>
</div>
<div class="card shadow-sm">
    <div class="card-body">
        <swal #Swal title="{{message.title}}" text="{{message.text}}" [icon]="message.icon" [showConfirmButton]="false"
            [toast]="true" position="top-end" [timer]="3000">
        </swal>
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <div class="search">
                <input class="form-control" (input)="onFilter($event)" type="search"
                    placeholder="search name, class, country" aria-label="search students" autofocus>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn" id="dropdown" ngbDropdownToggle>
                    <img src="assets/icons/plus.svg" alt=""> Add New
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown">
                    <button ngbDropdownItem (click)="onAddStudent()"><img width="16" class="mr-1"
                            src="assets/icons/user-plus.svg" alt="add student"> Student</button>
                    <button ngbDropdownItem (click)="onAdd('Class')"><img width="16" class="mr-1"
                            src="assets/icons/edit-2.svg" alt="add class"> Class</button>
                    <button ngbDropdownItem (click)="onAdd('Country')"><img width="16" class="mr-1"
                            src="assets/icons/globe.svg" alt="add country"> Country</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="text-center loader-container">
                <app-loader *ngIf="filterdStudents.length <= 0"></app-loader>
            </div>
            <table class="table table-borderless" *ngIf="filterdStudents.length > 0">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>name</td>
                        <td>class</td>
                        <td>date of birth</td>
                        <td>country</td>
                        <td>options</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of filterdStudents; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.class_name }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td>{{ student.country_name }}</td>
                        <td>
                            <img placement="left" ngbTooltip="edit" class="tb-icon" src="assets/icons/edit-3.svg"
                                width="20" alt="edit" (click)="onEditStudent(student)"> |
                            <img placement="right" ngbTooltip="delete" class="tb-icon" src="assets/icons/trash-2.svg"
                                width="20" alt="delete" (click)="onDeleteStudent(student.student_id)">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>