<div class="card shadow-sm">
    <div class="card-body">
        <swal #Swal title="{{message.title}}" text="{{message.text}}" [icon]="message.icon" [showConfirmButton]="false" 
        [toast]="true" position="top-end" [timer]="3000">
        </swal>
        <div class="mb-3 d-flex align-items-center justify-content-between">
            <div class="search">
                <input class="form-control" (input)="onFilter($event)" type="search" placeholder="search name, class, country" aria-label="search students" autofocus>
            </div>
            <div ngbDropdown class="d-inline-block">
                <button class="btn" id="dropdown" ngbDropdownToggle>
                    <fa-icon [icon]="add"></fa-icon> Add New
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown">
                    <button ngbDropdownItem (click)="onAddStudent()">Student</button>
                    <button ngbDropdownItem (click)="onAdd('Class')">Class</button>
                    <button ngbDropdownItem (click)="onAdd('Country')">Country</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>name</td>
                        <td>class</td>
                        <td>date of birth</td>
                        <td>country</td>
                        <td>options</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of filterdStudents; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.class_name }}</td>
                        <td>{{ student.date_of_birth }}</td>
                        <td>{{ student.country_name }}</td>
                        <td>
                            <fa-icon class="text-secondary" [icon]="edit" (click)="onEditStudent(student)"></fa-icon> |
                            <fa-icon class="text-danger" [icon]="delete" (click)="onDeleteStudent(student.student_id)">
                            </fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>